@using System.Collections.Generic;
@model List<PhillyZoo_App.DestinationLayer.Models.DestinationPhotosModel>

<fieldset>
    <legend>DestinationPhotosModel</legend>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstOrDefault().ImagePath)
    </div>
    

    @{foreach (var photo in Model)
    {
        var libraryImageName = photo.ImagePath;
            <div class="editor-field">
                @Html.HiddenFor(model => model.FirstOrDefault(m => m.ID == photo.ID).DestinationLayerID)
            </div>

            <div class="display-field">
                <img src="@ViewBag.destinationPhotoLibraryDir + libraryImageName" alt="Library Image" height="100" width="200" />
            </div>
        }
    }
</fieldset>
