@model PhillyZoo_App.DestinationLayer.Models.DestinationModel

@{
    ViewBag.Title = "EditDestination";
}

<h2>EditDestination</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    Html.RenderPartial("CreateEditDestination", Model);
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
